{% extends "layout.html" %}
{% block content %}

<h3>Portal de Desenvolvimento<br>Python em Flask!</h3>
  <br>
    <img src="https://cdn.pixabay.com/photo/2013/07/13/12/38/dices-160005_960_720.png" alt="Intro Site" width=300 height=180>

  <br>
  <br>
  <div class="div.margem">
   <p>Alinhamento</p>
    </div>
    <br>
    <div class="content-section">
    <h3>Projetos em Desenvolvimento</h3>
      <p class='text-muted'>Plataforma de Desenvolvimento | Ciencia de Dados em Python / Flask</p>
        
          <ul class="list-group">
            <td>
              <li class="list-group-item list-group-item-light"><a href="/alinha" class="link_thumb" style="color: #848484;">Alinahmento de Dados &nbsp &nbsp &nbsp <img src="https://static.escolakids.uol.com.br/conteudo_legenda/6b20bd2849c3215649eef2000b9d0b62.jpg" alt="some text" width=50 height=30></li>
            </td>
              
          </ul>
        <br>
      </div>

{% endblock content %}
